<div class="lmn-row fondo elemental">
    <nav class="maintopnav">
        <ul>
            <li>
                <a routerLink="#" id="lblUserRol">{{ usuario }}</a>
            </li>
            <li class="extremo derecho">
                <ul>
                    <li><a routerLink="#">Help Desk</a></li>
                    <li class="lmn-mt-3">|</li>
                    <li><a routerLink="#">FAQ</a></li>
                    <li class="lmn-mt-3">|</li>
                    <li><a routerLink="#">Report Problem</a></li>
                    <li class="lmn-mt-3">|</li>
                    <li><a routerLink="/five" (click)="cerrarSesion()">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <div class="borde azul">
                    <div class="encabezado2">
                        <div class="renglon">
                            <div style="display: inline-block; top: 50%;" class="columna wrapper-icg-text">
                                <h4>ICG Operations &amp; Technology</h4>
                            </div>
                            <div style="float: right;" class="columna wrapper-encabezado2">
                                <img class="logo-encabezado" alt="CITI" src="../../../assets/images/citi-white.png">
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>

    </nav>

</div>