<br><br><br><br><br><br><br><br>
<div class="lmn-row lmn-text-color-0">
  <div class="lmn-col-md-4">
    <img class="image" src="../../../assets/images/pcce/five.png" (click)="open('five')">
  </div>
  <div class="lmn-col-md-4">
    <img class="image" src="../../../assets/images/pcce/arrenda.png" (click)="open('arrenda')">
  </div>
  <div class="lmn-col-md-4">
    <img class="image" src="../../../assets/images/pcce/opera.png" (click)="open('opera')">
  </div>
</div>

<br><br>

<div class="mln-row">
  <span class="lmn-mr-5"><a routerLink="#">Accesibility</a></span>
  <span class="lmn-mr-5"><a routerLink="#">Terms and Conditions</a></span>
  <span class="lmn-mr-5"><a routerLink="#">Carrers</a></span>
  <span class="lmn-mr-5"><a routerLink="/">Ir a menú pricipal</a></span>
</div>
