<br><br><br><br><br><br><br><br>
<div class="lmn-row lmn-text-color-0">
  <div class="lmn-col-md-3"></div>
  <div class="lmn-col-md-2" *ngFor="let item of imgSrc">
    <img class="image" [src]="item.set"
    (mouseout)="item.set = item.azul"
    (mouseover)="item.set = item.blanco"
    (click)="open(item.link)">
  </div>
  <div class="lmn-col-md-3"></div>
</div>

<br><br><br><br>

<div class="mln-row">
  <span class="lmn-mr-5"><a routerLink="#">Accesibility</a></span>
  <span class="lmn-mr-5"><a routerLink="#">Terms and Conditions</a></span>
  <span class="lmn-mr-5"><a routerLink="#">Carrers</a></span>
  <span class="lmn-mr-5"><a routerLink="/">Ir a menú pricipal</a></span>
</div>
