html,
body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link,
a:visited {
    color: #045491;
    font-weight: bold;
    text-decoration: none;
}

a:link:hover,
a:visited:hover {
    color: #045491;
    font-weight: bold;
    text-decoration: underline;
}

.wrapper {
    min-height: 98%;
    margin-bottom: -50px;
}

.tableOdd {
    background-color: #cccccc
}

.tableEven {
    background-color: #ffffff
}

.boldText {
    font-weight: bold;
}

.textRight {
    text-align: right
}

.validationTable {
    padding: 15px;
}

.validationTable>tbody>tr>td {
    padding: 10px;
}

.validationButton {
    margin-left: 15px;
    margin-bottom: 10px;
}