<div class="lmn-form-group" [ngClass]="{'lmn-form-required':required}">
  <label class="lmn-form-label" [for]="controlName" *ngIf="label">{{label}}
  </label>
  <input class="lmn-input" [ngClass]="{'input-validation':control.invalid==true && (control.dirty || control.touched)}"
    [readonly]="readonly" [formControl]="control" [name]="controlName"
    [type]="'text'" [placeholder]="placeHolder" [required]="required"
    [minlength]="minLength" [maxlength]="maxLength" [disabled]="disabled"
    (focusout)="functionValueChange($event)"
    (keypress)="omitSpecialChar($event)"/>
  <control-errors class="lmn-row" [control]="control"></control-errors>
</div>
