<mat-form-field appearance="outline" class="lmn-form-group" [ngClass]="{'lmn-form-required':required}">
  <mat-label class="lmn-form-label" *ngIf="label">{{label}}</mat-label>
  <input matInput class="lmn-input" [ngClass]="{'input-validation':control.invalid==true && (control.dirty || control.touched)}"
    [readonly]="readonly" [formControl]="control" [name]="controlName"
    [type]="'text'" [placeholder]="placeHolder" [required]="required"
    [minlength]="minLength" [maxlength]="maxLength" [disabled]="disabled"
    (focusout)="functionValueChange($event)"/>
    <control-errors class="lmn-row" [control]="control"></control-errors>
</mat-form-field>
